
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Heebo:wght@100..900&family=Secular+One&display=swap');
:root {
--base: #ccaa81;
--line: #805a2c;
--hover: #e0d1bf;
--text: #805a2c;
--accent: #caa688;
--accent2: #8f6a4b;
--text2: #4e381d;
}

* {
    margin: 0;
    padding: 0;
    direction: rtl;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base);
    color: var(--text);
    display: grid;
    grid-template-columns: auto 1fr;
}

main {
    padding: min(30px, 10%);
    p{
        color: var(--text2);
    }
}
* {
    font-family: 'Alef'
}
h1, #sidebar {
    font-family: 'Secular One';
}
h2, p {
    font-family: 'Heebo';
}



.frame {
    background-color: #ffffff8f;
    border: 1px solid var(--line);
    border-radius: .4em;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px var(--line);
    padding: min(3em, 15%);
    h2,p {
        margin-top: 1em;
    }
}

.frame:hover {
    transition: 100ms ease-in-out;
    box-shadow: 5px 5px 10px var(--line);
    transform: scale(1.005);
}

#jobs>li {
    list-style: none;
    font-weight: 800;
    margin: .5em;
    color: var(--text2);
}

#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 190px;
    padding: 5px 1em;
    background-color: var(--base);
    border-left: 2px solid var(--line);
    ul{list-style: none;}
    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}
#sidebar.close{
        padding: 5px;
        width: 60px;
    }
#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo{font-weight: 600;}
}

#sidebar ul li.active a{
    color: var(--accent2);
    font-weight: 600;
    svg{fill: var(--accent2);}
}
#sidebar a, #sidebar .dropdownButton, #sidebar .logo{
    border-radius: .5em;
    padding: .8em;
    text-decoration: none;
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 1em;
}

.dropdownButton {
    width: 100%;
    text-align: right;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

#sidebar svg {
    flex-shrink: 0;
    fill: var(--text);
}

#sidebar a span, #sidebar .dropdownButton span {
    flex-grow: 1;
}

#sidebar a:hover, #sidebar .dropdownButton:hover {
    background-color: var(--hover);
    svg:first-child{transform: scale(1.3);}
}

#sidebar .sub-menu {
    transition: 200ms ease-in-out;
    display: grid;
    grid-template-rows: 0fr;
    >div {
        overflow: hidden;
    }
}

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

.dropdownButton svg:first-child{
    transition: 150ms ease;
}
.rotate svg:last-child {
    rotate: 180deg;
}

#sidebar .sub-menu a{
    padding-left: 2em;
}

#toggleButton {
    margin-right: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
    svg{transition: rotate 150ms ease;}
}

@media (max-width: 800px){
    body{
        grid-template-columns: 1fr;
    }
    main{
        padding: 2em 1em 60px 1em;
    }
    .frame{
        border: none;
        padding: 0;
    }
    #sidebar{
        height: 60px;
        width: 100%;
        border-left: none;
        border-top: 1px solid var(--line);
        position : fixed;
        top: unset;
        bottom: 0;
        
        > ul {
            padding: 0;
            display: grid;
            grid-auto-columns: 60px;
            grid-auto-flow: column;
            align-items: center;
            overflow-x: scroll;
        }

        ul li {
            height: 100%;
        }

        ul a, ul .dropdownButton {
            width: 60px;
            height: 60px;
            padding: 0;
            border-radius: 0;
            justify-content: center;
        }


        ul li span, ul li:first-child, ul .dropdownButton svg:last-child{
            display: none;
        }

        ul li .sub-menu.show{
            position: fixed;
            bottom: 60px;
            left: 0;
            width: 100%;
            background-color: var(--hover);
            border-top: 2px solid var(--line);
            display: flex;
            justify-content: center;

            > div{overflow-x: auto;}

            li{
                display: inline-flex;
            }

            a{
                box-sizing: border-box;
                padding: 1em;
                width: auto;
                justify-content: center;
            }
        }
    }
}